<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RoomEditController</servlet-name>
        <servlet-class>Controll.RoomEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoomEditController</servlet-name>
        <url-pattern>/RoomController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>Controll.AdminController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controll.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>LoadHotelDiscount</servlet-name>
        <servlet-class>Controll.LoadHotelDiscount</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadHotelDiscount</servlet-name>
        <url-pattern>/LoadHotelDiscount</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>Controll.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>HotelEditController</servlet-name>
        <servlet-class>Controll.HotelEditController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelEditController</servlet-name>
        <url-pattern>/HotelEditController</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
